body {
    background-color: #F7F7F7;
    margin: 0;;
}

.content {
    background-color: #173CE8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 8px;
}

.maincard {
    width: 30rem;
    background-color: #F7F7F7;
}

.quiz-answer-card:hover{
    background-color: rgba (0.0.0.0,05);
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white;
}

.width-100{
    width: 100%;
}

.text-center{
    text-align: center;
}